*{
	margin: 0;
	padding: 0;
}
#main{
	-webkit-column-width:202px;
	-moz-column-width:202px;
	-o-column-width:202px;
	-ms-column-width:202px;
	column-width:202px;
	/*-webkit-column-count:7;
	-moz-column-count:7;
	-o-column-count:7;
	-ms-column-count:7;
	column-count:7;*/
	/*-webkit-column-rule:2px dashed #f00;
	-moz-column-rule:2px dashed #f00;
	-o-column-rule:2px dashed #f00;
	-ms-column-rule:2px dashed #f00;
	column-rule:2px dashed #f00;
	-webkit-column-gap:5px;
	-moz-column-gap:5px;
	-o-column-gap:5px;
	-ms-column-gap:5px;
	column-gap:5px;*/
}
.box{
	padding:10px 0 0 15px; 
}
.pic{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	width: 165px;
}
.pic img{
	display: block;
	width: 165px;
	height: auto;
}